* {
  margin: 0;
  padding: 0;
}

#rockets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #rockets .rocket {
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 1px solid black;
  }
  #rockets .info {
    align-items: center;
  }
}


.rocket {
  display: flex;
  align-items: center;
  margin: 1% 10px;
  padding: 2% 8%;
  height: 200px;
}

.rocket img {
  width: 250px;
}

.info {
  height: 90%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.rocket-btn {
  background-color: #007bff;
  border: 1px solid transparent;
  color: white;
  border-radius: 5%;
  font-size: 14px;
  font-weight: bolder;
  padding: 5px;
  margin-bottom: 0;
}

.info .booked {
  background-color: white;
  border: 1px solid black;
  color: black;
}
