.mission-container {
  margin: 1rem;
}

.missionRaw {
  display: grid;
  grid-template-columns: 15% 70% 8% 8%;
  grid-auto-flow: column;
  border: 1px  solid gray;
}

.missionRaw:nth-child(2n) {
  background-color: #f2f2f2;
}

.missionName {
  border-right: 1px solid gray;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: 800;
}

.missionDescription {
  padding: 1rem;
  border-right: 1px solid gray;
}

.missionStatus-border {
  border-right: 1px solid gray;
}

.missionStatus {
  padding: 1rem;
  display: flex;
  align-items: center;
}
